.fileName {
  display: inline;
  float: right;
  font-family: Courier, monospace;
  font-size: small;
  color: white;
  padding: 10px;
}

.changes {
  border-bottom: solid #424242;
  background: #101010;
  font-family: Courier, monospace;
  padding: 10px;
  font-size: small;
  color: white;
}

.listHeader {
  border: outset thick rgba(97, 97, 97, .3);
  background: #212121;
}

.list {
  background-color: #101010;
  color: white;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
  border: solid#212121;
  display: flex;
  flex-direction: column;
  background: #101010;
}

.contentButtons {
  align-items: center;
  border: outset thick rgba(97, 97, 97, .3)
}

.content {
  border-top: solid#212121;
  border-right: solid#212121;
  border-left: solid#212121;
  grid-area: content;
  background: #212121;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 30px;
}

.header {
  grid-area: header;
  display: inline-flex;
  align-items: baseline;
}

.login {
  grid-area: login;
  display: flex;
  align-items: baseline;
  color: white; 
  font-size: 17px;
  font-family: Arvo; 
  flex-direction: row-reverse;
}

.headerText {
  padding: 5px;
  font-family: Arvo;
  color: white;
  font-size: x-large;
}

.footerHeader {
  color: white;
  font-family: Courier, monospace;
  font-size: small;
  display: flex;
  align-items: center;
  padding: 10px;
}

.footerContent {
  border-top: solid #424242;
  padding: 10px;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-wrap: break-word;
  font-family: monospace;
}

.footer {
  grid-area: footer;
  border-top: solid white;
  border-bottom: solid#212121;
  border-left: solid#212121;
  border-right: solid#212121;
  background: #101010;
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.wrapper {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    padding: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 325px minmax(320px, auto) 170px;
    grid-template-rows: 60px minmax(150px, auto) minmax(100px, 30vh);
    grid-template-areas:
    "header  header  login"
    "sidebar content content"
    "sidebar  footer  footer";
  }

  body {
    background-color: black;
  }
  