@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter&family=Roboto&family=Source+Code+Pro&display=swap');
body {
  background-color: black;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

