.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  border: solid thin #424242;
}
.contentButtons {
  align-items: baseline;
  background-color: #212121;
  border: outset #424242;
}

.codeBox {
  border-bottom: solid whitesmoke;
  height: 60%;
  resize: vertical;
  font-size: larger;
  font-family: 'Source Code Pro', monospace;
  overflow: auto;
}

.footer {
  background: #010101;
  flex: 1 1 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: scroll;
  scroll-behavior: smooth;
}

.textLine {
  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
}

.outputLine {
  overflow: auto;
  font-family: 'Source Code Pro', monospace;
  padding-top: 10px;
  padding-bottom: 10px;
}

.codeLine {
  display: flex;
  align-items: center;
  color: whitesmoke;
  font-size: larger;
  font-family: monospace;
}

.terminal {
  display: flex;
  align-items: center;
  border-top: solid thin #424242;
  background: #212121;
  color: white;
}

.codeTerminal {
  width: 100%;
  font-size: larger;
  border: inset #212121;
  overflow: hidden;
}