.changes {
  border-top: solid thin#424242;
  border-bottom: solid thin whitesmoke;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  font-size: smaller;
  color: whitesmoke;
}

.listHeader {
  align-items: baseline;
  background-color: #212121;
  border: outset thick #424242;
}

.list {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidebar {
  grid-area: sidebar;
  border: solid thin#424242;
  background-color: #101010;
}